<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginMechanicServlet</servlet-name>
        <servlet-class>controller.loginMechanicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginSaleServlet</servlet-name>
        <servlet-class>controller.loginSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchMechanicServlet</servlet-name>
        <servlet-class>controller.searchMechanicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginCusServlet</servlet-name>
        <servlet-class>controller.loginCusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cusServiceTicket</servlet-name>
        <servlet-class>controller.cusServiceTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginMechanicServlet</servlet-name>
        <url-pattern>/loginMechanicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginSaleServlet</servlet-name>
        <url-pattern>/loginSaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchMechanicServlet</servlet-name>
        <url-pattern>/searchMechanicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginCusServlet</servlet-name>
        <url-pattern>/loginCusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cusServiceTicket</servlet-name>
        <url-pattern>/cusServiceTicket</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
